@media (min-width:  480px) and (max-width: 767px){
  #div1 {
    background-color: royalblue;
    color: #eee;
    width: 480px;
    height: 75px;
    text-align: center;
    line-height: 75px;
  }

  #div2 {
    background-color: rgb(92, 24, 77);
    color: #eee;
    width: 480px;
    height: 150px;
    text-align: center;
    line-height: 150px;
  }

  #div3{
    background-color: rgb(167, 39, 60);
    color: #eee;
    width: 480px;
    height: 125px;
    text-align: center;
    line-height: 125px;
  }
  #div4{
    background-color: rgb(21, 176, 223);
    color: #eee;
    width: 480px;
    height: 125px;
    text-align: center;
    line-height: 125px;
  }

  #div7 {
    background-color: rgb(245, 7, 7);
    color: #eee;
    width: 480px;
    height: 80px;
    text-align: center;
    line-height: 80px;
  }
  body, header ,footer,main{
    box-sizing: border-box;
    width: 100%;
    padding:0px;
    margin:0px;
}
}
/*************************************************************************/

@media (min-width:  768px) and (max-width: 960px){
    #div1 {
      background-color: royalblue;
      color: #eee;
      width: 960px;
      height: 100px;
      text-align: center;
      line-height: 100px;
    }
  
    #div2 {
      background-color: rgb(92, 24, 77);
      color: #eee;
      width: 200px;
      height: 600px;
      text-align: center;
      line-height: 600px;
    }
  
    #div3{
     
      background-color: rgb(167, 39, 60);
      color: #eee;
      width: 380px;
      height: 200px;
      text-align: center;
      line-height: 200px;
      
    }
    #div4{
    
      background-color: rgb(21, 176, 223);
      color: #eee;
      width: 380px;
      height: 200px;
      text-align: center;
      line-height: 200px;
     
     
    }
  
    #div7 {
      background-color: rgb(245, 7, 7);
      color: #eee;
      width: 760px;
      height: 150px;
      text-align: center;
      line-height: 150px;
    }
    
    body, header ,footer,main{
      box-sizing: border-box;
      width: 100%;
      padding:0px;
      margin:0px;
  }
  }
/* main{
  margin-left: 200px;
  
}
section{
  margin-left: 200px;
  margin-top: -600px;
}
footer{
  margin-left: 200px;
} */