  
@media (min-width:  480px) and (max-width: 767px){
  #div5{
    float: left;
    background-color: rgb(240, 138, 22);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px; 
  }
  #div55{
 
    background-color: rgb(16, 241, 223);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;  
 
  }
  #div6{
      
    float: left;
    background-color: rgb(28, 243, 21);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px; 
  }
  #div66{
    
    background-color: rgb(83, 19, 80);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;  
  }
}
/************************************************************************************/

@media (min-width:  768px) and (max-width: 960px){
    #div5{
      float: left;
      background-color: rgb(240, 138, 22);
      color: #eee;
      width: 190px;
      height: 250px;
      text-align: center;
      line-height: 250px; 
    }
    #div55{
   
      background-color: rgb(16, 241, 223);
      color: #eee;
      width: 190px;
      height: 250px;
      text-align: center;
      line-height: 250px;  
   
    }
    #div6{
        
      float: left;
      background-color: rgb(28, 243, 21);
      color: #eee;
      width: 190px;
      height: 250px;
      text-align: center;
      line-height: 250px; 
    }
    #div66{
      
      background-color: rgb(83, 19, 80);
      color: #eee;
      width: 190px;
      height: 250px;
      text-align: center;
      line-height: 250px;  
    }
  }