  

  #div5{
    float: right;
    background-color: rgb(240, 138, 22);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px; 
  }
  #div55{
 
    background-color: rgb(16, 241, 223);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;  
 
  }
  #div6{
      float: right;
    background-color: rgb(28, 243, 21);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px; 
  }
  #div66{
     
    background-color: rgb(83, 19, 80);
    color: #eee;
    width: 240px;
    height: 250px;
    text-align: center;
    line-height: 250px;  
  }
